.card-wrap {
    width: 300px;
    background-color: white;
    padding: 40px;
    position: relative;
    margin-top: -20px;
    z-index: 3;
    
  }
  
 
  
  .card-wrap__price{
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial;
    text-align: center;
    
  }

  .card-wrap__price strong{
    color:red
    
  }
  
